<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>title</title>
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <google-map data-lat="35.6969002" data-lng="139.7512779" style="height: 500px;"></google-map>
    </div>
</div>
</body>
</html>
