<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <bs-card data-title="google map (ShadowDOM sample)" data-text="Shadow DOM で bootstrapするサンプルです"
                     style="height: 500px;">
                <google-map data-lat="35.6969002" data-lng="139.7512779" style="height: 500px;"></google-map>
            </bs-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    worker sample
                </div>
                <div class="card-text">
                    <div id="worker">
                        <form>
                            <div class="mb-3">
                                <label for="in">入力値</label>
                                <input id="in" type="number" min="1" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label for="out">こたえ</label>
                                <input id="out" type="text" disabled class="form-control"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">通常ループ</button>
                    <button type="button" class="btn btn-primary">setTimeout</button>
                    <button type="button" class="btn btn-primary">Worker使用</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
