<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>title</title>
</head>
<body>
<div class="container h-100">
    <div class="row row-cols-1 row-cols-md-2 g-4  h-100">
        <div class="col">
            <div class="card">
                <div class="card-header">google map (ShadowDOM sample)</div>
                <div class="card-img-top" style="height: 600px">
                    <google-map data-lat="35.6969002" data-lng="139.7512779" style="height: 100%;"></google-map>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        Shadow DOM で googlemapするサンプルです.htmlソースを確認してみてください。
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    worker sample (素因数分解)
                </div>
                <div clas="card-body">
                    <div class="card-text">
                        <div>
                            <form>
                                <div class="">
                                    <label for="in" class="form-label">入力値</label>
                                    <input id="in" type="number" min="1" class="form-control" value="1183483878910072701007"/>
                                </div>
                                <div class="mb-3">
                                    <label for="out" class="form-label">こたえ</label>
                                    <input id="out" type="text" disabled class="form-control"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-text">
                        ボタンを押した後、左のmapを操作してみてください.<br/>
                        通常ループ実行中はUIスレッド占有中のため動きませんが、worker実行中の場合は動作します。
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" id="normal">通常ループ</button>
                    <button type="button" class="btn btn-primary" id="worker">Worker使用</button>
                    <button type="button" class="btn btn-warning" id="clear">回答クリア</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
